.form{
    border-radius: 8px;
    background-color: seashell;
    width: 35%;
    margin-left: auto;
    margin-right: auto;
    height: fit-content; 
    padding: 30px;
}
.inputcontainer{
    width: 250px;
    
}
