.form{
    border-radius: 8px;
    background-color: seashell;
    width: 35%;
    margin-left: auto;
    margin-right: auto;
    height: fit-content; 
    padding: 30px;
}
.contenedor{
    width: 900px;
    padding: 10px;
    margin-top: 160px;
    height: 450px;
    /* margin-right: 50px; */
    margin-left: auto;
    margin-right: auto;
    background-color: lightgrey;
    border: 3px solid seashell;
    border-radius: 8px;

}